Repository netresearch/jira-to-openproject: changes, and which pre-commit hooks are due for each by the changed paths.
All: smoke-tests-on-commit, check-tasks-json

smoke-tests-on-commit:
  name: Smoke Tests (if tests changed)
  entry: python scripts/test_helper.py smoke
  language: system
  pass_filenames: false

check-tasks-json:
  name: Check tasks.json for valid JSON
  entry: python -c "import json; f=open('.taskmaster/tasks/tasks.json'); json.load(f)"
  language: python
  stages:
  - commit

feat(staleness): Implement comprehensive StalenessManager with TTL-based caching
  .taskmaster/tasks/tasks.json
  config/config.yaml
  src/clients/jira_client.py
  src/utils/staleness_manager.py
  tests/test_staleness_manager.py
Due: smoke-tests-on-commit, check-tasks-json

feat: add secure MCP configuration with environment variable support
  .cursor/mcp-env.sh
  .cursor/mcp.json
Due: none

feat(migrator): Implement staleness detection and cache refresh for user mappings
  .taskmaster/tasks/tasks.json
  src/utils/enhanced_user_association_migrator.py
  test_staleness_simple.py
  tests/unit/test_enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_staleness.py
Due: smoke-tests-on-commit, check-tasks-json

fix(migrator): Fix critical staleness detection issues and improve code quality
  src/utils/enhanced_user_association_migrator.py
  test_zero_validation.py
Due: none

feat(migrator): Comprehensive security fixes and enhanced test suite
  src/utils/enhanced_user_association_migrator.py
  test_zero_validation.py
  tests/unit/test_enhanced_user_association_migrator_integration.py
  tests/unit/test_enhanced_user_association_migrator_staleness.py
Due: smoke-tests-on-commit

polish(code): Minor quality improvements for production readiness
  src/config_loader.py
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_minor_quality_improvements.py
Due: smoke-tests-on-commit

MAJOR: Fix critical staleness detection bug and implement comprehensive tests
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_staleness.py
Due: smoke-tests-on-commit

MAJOR: Fix all critical code review findings and improve test coverage
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_staleness.py
Due: smoke-tests-on-commit

Implement comprehensive staleness detection engine for user mappings
  .taskmaster/tasks/tasks.json
  src/utils/enhanced_user_association_migrator.py
  test_staleness_simple.py
  tests/test_staleness_detection_engine.py
Due: smoke-tests-on-commit, check-tasks-json

Fix critical issues in staleness detection engine from code review
  src/utils/enhanced_user_association_migrator.py
Due: none

feat: implement JiraClient refresh with retry logic and exponential backoff
  .taskmaster/tasks/tasks.json
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_retry.py
Due: smoke-tests-on-commit, check-tasks-json

feat: YOLO enhance retry logic with comprehensive validation and testing
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_enhanced_retry.py
Due: smoke-tests-on-commit

fix(migrator): apply YOLO fixes to enhanced retry logic
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_enhanced_retry.py
Due: smoke-tests-on-commit

Add comprehensive tests for YOLO improvements to enhanced retry logic
  tests/unit/test_enhanced_user_association_migrator_enhanced_retry.py
Due: smoke-tests-on-commit

Implement YOLO review fixes for enhanced retry logic
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_enhanced_retry.py
Due: smoke-tests-on-commit

feat: YOLO fixes for all remaining test failures in enhanced retry
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_enhanced_retry.py
Due: smoke-tests-on-commit

feat: YOLO review fixes - extracted error sanitization helper method with comprehensive tests
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_enhanced_retry.py
Due: smoke-tests-on-commit

fix: CRITICAL security fix - sanitization before truncation + performance improvements
  src/utils/enhanced_user_association_migrator.py
Due: none

feat: implement validation and fallback strategies with comprehensive tests
  tests/unit/test_enhanced_user_association_migrator_validation_fallback.py
Due: smoke-tests-on-commit

feat: Complete Task 76.5 - Add Monitoring and Logging
  .taskmaster/tasks/tasks.json
  src/utils/enhanced_user_association_migrator.py
  src/utils/metrics_collector.py
  tests/unit/test_enhanced_user_association_migrator_monitoring.py
  tests/unit/test_metrics_collector.py
Due: smoke-tests-on-commit, check-tasks-json

fix: Resolve all critical code review findings for Task 76.5
  .taskmaster/tasks/tasks.json
  src/utils/metrics_collector.py
Due: check-tasks-json

feat: Complete Task 76.6 - End-to-end integration with comprehensive testing
  .taskmaster/tasks/tasks.json
  src/utils/metrics_collector.py
  tests/unit/test_enhanced_user_association_migrator_end_to_end.py
  tests/unit/test_enhanced_user_association_migrator_end_to_end_simple.py
Due: smoke-tests-on-commit, check-tasks-json

Security & Quality Improvements: Code Review Fixes + Enhanced Tests
  .cursorignore
  .dockerignore
  .gitignore
  src/config_loader.py
  src/main.py
  src/utils/rate_limiter.py
  tests/unit/test_config_loader_security_enhanced.py
Due: smoke-tests-on-commit

feat(task-76): Implement Enhanced Mapping Staleness Detection and Refresh
  tests/unit/test_enhanced_user_association_migrator_end_to_end_simple.py
  tests/unit/test_enhanced_user_association_migrator_retry.py
  tests/unit/test_enhanced_user_association_migrator_staleness.py
Due: smoke-tests-on-commit

fix(task-76): YOLO fixes for critical test architecture issues
  tests/unit/test_enhanced_user_association_migrator_staleness.py
Due: smoke-tests-on-commit

feat(task-76): Complete fixture architecture standardization and cleanup
  tests/unit/test_enhanced_user_association_migrator_staleness.py
  tests/unit/test_fixture_architecture.py
Due: smoke-tests-on-commit

feat(migrator): Implement Task 76 - Enhanced Mapping Staleness Detection with YOLO fixes
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_enhanced_retry.py
  tests/unit/test_enhanced_user_association_migrator_yolo_fixes.py
Due: smoke-tests-on-commit

fix(migrator): Address critical code review findings from zen review
  ARCHITECTURAL_REFACTORING_RECOMMENDATIONS.md
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_user_association_migrator_yolo_fixes.py
Due: smoke-tests-on-commit

feat: Implement comprehensive performance optimization system
  .taskmaster/tasks/tasks.json
  src/clients/enhanced_jira_client.py
  src/clients/enhanced_openproject_client.py
  src/migration.py
  src/migrations/base_migration.py
  src/performance/__init__.py
  src/performance/migration_performance_manager.py
  src/utils/batch_processor.py
  src/utils/enhanced_rate_limiter.py
  src/utils/performance_optimizer.py
  src/utils/progress_tracker.py
  src/utils/retry_manager.py
  tests/test_performance_components.py
  tests/unit/test_enhanced_jira_client.py
  tests/unit/test_enhanced_openproject_client.py
  tests/unit/test_enhanced_user_association_migrator_monitoring.py
  tests/unit/test_performance_optimizer.py
Due: smoke-tests-on-commit, check-tasks-json

feat(performance): Complete Performance Optimization implementation (Task 13)
  src/performance/migration_performance_manager.py
  src/utils/batch_processor.py
  src/utils/retry_manager.py
  tests/test_performance_components.py
Due: smoke-tests-on-commit

Enhance input validation security in performance components
  .taskmaster/tasks/tasks.json
  src/clients/enhanced_jira_client.py
  src/clients/enhanced_openproject_client.py
  src/performance/migration_performance_manager.py
  src/utils/batch_processor.py
  src/utils/config_validation.py
  src/utils/enhanced_rate_limiter.py
  src/utils/rate_limiter.py
  tests/test_input_validation_security.py
  tests/test_thread_safety.py
Due: smoke-tests-on-commit, check-tasks-json

🔒 CRITICAL SECURITY FIXES: Address code review findings
  src/utils/batch_processor.py
  src/utils/config_validation.py
Due: none

feat(batch-api): Implement secure batch API processing with performance optimization
  src/clients/openproject_client.py
  src/utils/data_preservation_manager.py
Due: none

feat: Add idempotency key support to batch API operations
  pyproject.toml
  src/utils/idempotency_decorators.py
  src/utils/idempotency_manager.py
  tests/integration/test_batch_idempotency_integration.py
  tests/unit/test_idempotency_decorators.py
  tests/unit/test_idempotency_manager.py
  todos.md
Due: smoke-tests-on-commit

feat: implement comprehensive migration system and integration testing framework
  .taskmaster/tasks/task_101.txt
  .taskmaster/tasks/task_102.txt
  .taskmaster/tasks/task_103.txt
  .taskmaster/tasks/task_104.txt
  .taskmaster/tasks/task_105.txt
  .taskmaster/tasks/task_106.txt
  .taskmaster/tasks/task_107.txt
  .taskmaster/tasks/task_108.txt
  .taskmaster/tasks/task_109.txt
  .taskmaster/tasks/task_110.txt
  .taskmaster/tasks/tasks_fixed.json
  .taskmaster/tasks/tasks_master.json
  .taskmaster/tasks/tasks_original.json
  pyproject.toml
  src/clients/exceptions.py
  src/clients/openproject_client.py
  src/config.py
  src/config/__init__.py
  src/migrations/base_migration.py
  src/migrations/issue_type_migration.py
  src/migrations/tempo_account_migration.py
  src/utils/integration_testing_framework.py
  tests/integration/test_complete_migration_workflow.py
  tests/integration/test_migration_integration.py
  tests/integration/test_state_consistency.py
  tests/test_advanced_config_manager.py
  tests/test_integration_testing_framework.py
  tests/unit/test_batch_processor.py
Due: smoke-tests-on-commit

chore: clean up app root directory
  scripts/fix_logger_imports.py
  tasks.fixed.json
  tests/test_dashboard_simple.py
  tests/test_error_recovery_simple.py
  todos.md
Due: smoke-tests-on-commit

Revert "chore: clean up app root directory"
  fix_logger_imports.py
  tasks.fixed.json
  test_dashboard_simple.py
  test_error_recovery_simple.py
  todos.md
Due: none

chore: complete app root directory cleanup
  activate.sh
  scripts/fix_logger_imports.py
  tasks.fixed.json
  tests/test_dashboard_simple.py
  tests/test_error_recovery_simple.py
  todos.md
Due: smoke-tests-on-commit

Path conditions:
  smoke-tests-on-commit: any of: ^tests/.*\.py$
  check-tasks-json: any of: ^\.taskmaster/tasks/tasks\.json$
