Repository netresearch/jira-to-openproject: changes, and which pre-commit hooks are due for each by the changed paths.
All: smoke-tests-on-commit, check-tasks-json

smoke-tests-on-commit:
  name: Smoke Tests (if tests changed)
  entry: python scripts/test_helper.py smoke
  language: system
  pass_filenames: false

check-tasks-json:
  name: Check tasks.json for valid JSON
  entry: python -c "import json; f=open('.taskmaster/tasks/tasks.json'); json.load(f)"
  language: python
  stages:
  - commit

investigation: analyze completed tasks and JSON corruption
  src/utils/batch_processor.py
  tests/unit/test_batch_processor.py
Due: smoke-tests-on-commit

feat(migrations): Implement idempotent operation support for Task #16
  src/migrations/base_migration.py
  src/migrations/custom_field_migration.py
  src/migrations/project_migration.py
  src/migrations/user_migration.py
  src/migrations/work_package_migration.py
Due: none

feat: Complete idempotent operation system (subtasks 16.1-16.3)
  src/migrations/base_migration.py
  src/utils/selective_update_manager.py
Due: none

refactor(custom_field_migration): split Ruby script and use file-based results
  src/migrations/custom_field_migration.py
  tests/functional/test_custom_field_migration.py
Due: smoke-tests-on-commit

refactor: Change mapping file missing warnings to NOTICE level
  src/mappings/mappings.py
Due: none

refactor: Elevate console warnings to errors in RailsConsoleClient
  src/clients/rails_console_client.py
Due: none

refactor: Fix Rails console architecture - make file-based transfer primary
  src/clients/openproject_client.py
Due: none

chore: update all dependencies to latest versions
  compose.yml
  pyproject.toml
  requirements.txt
Due: none

fix: use safer Docker image versions based on zen security review
  compose.yml
Due: none

fix: resolve all critical zen findings for Docker services
  api-specs/jira-api.yaml
  api-specs/openproject-api.yaml
  compose.yml
  src/clients/openproject_client.py
  src/utils/batch_processor.py
  src/utils/rate_limiter.py
  tests/end_to_end/test_complete_migration_workflow.py
  tests/unit/test_base_migration_data_preservation.py
  tests/unit/test_batch_processor.py
  tests/unit/test_selective_update_manager.py
Due: smoke-tests-on-commit

fix(user_migration): Add fallback email for users with missing email addresses
  src/migrations/user_migration.py
Due: none

feat(user_migration): Implement all code review suggestions with comprehensive improvements
  .env
  .env.example
  src/clients/docker_client.py
  src/clients/openproject_client.py
  src/config.py
  src/migrations/account_migration.py
  src/migrations/issue_type_migration.py
  src/migrations/user_migration.py
  src/migrations/work_package_migration.py
  tests/functional/test_user_migration.py
Due: smoke-tests-on-commit

feat(tests): Zen-enhanced comprehensive test coverage
  tests/integration/test_migration_orchestration_chaos.py
  tests/integration/test_resource_boundaries.py
  tests/integration/test_state_consistency.py
  tests/unit/clients/test_openproject_client_enhanced.py
  tests/zen_test_improvements.md
Due: smoke-tests-on-commit

fix: Critical bug fixes from Zen analysis
  src/clients/openproject_client.py
  src/utils/state_manager.py
Due: none

feat(task-16.4): Complete data preservation safeguards implementation
  .taskmaster/tasks/tasks.json
  src/utils/data_preservation_manager.py
  tests/functional/test_data_preservation_integration.py
  tests/unit/test_data_preservation_manager.py
Due: smoke-tests-on-commit, check-tasks-json

feat: Complete Task 16 - Implement Idempotent Operation with full recovery capabilities
  .taskmaster/tasks/tasks.json
  src/migrations/base_migration.py
  src/utils/checkpoint_manager.py
  tests/functional/test_recovery_integration.py
  tests/unit/test_checkpoint_manager.py
Due: smoke-tests-on-commit, check-tasks-json

feat: Add comprehensive tests for EnhancedUserAssociationMigrator
  tests/unit/test_enhanced_user_association_migrator.py
Due: smoke-tests-on-commit

feat(migration): Complete Task 17 - Enhanced Meta Information Migration
  .taskmaster/tasks/tasks.json
  data/audit_trail_migration_report.json
  src/migrations/work_package_migration.py
  src/utils/enhanced_audit_trail_migrator.py
  src/utils/enhanced_timestamp_migrator.py
  src/utils/enhanced_user_association_migrator.py
  tests/unit/test_enhanced_audit_trail_migrator.py
  tests/unit/test_enhanced_timestamp_migrator.py
Due: smoke-tests-on-commit, check-tasks-json

feat(migration): Complete Task 17 - Enhanced Audit Trail Migration with comprehensive testing
  .taskmaster/tasks/tasks.json
  tests/unit/test_enhanced_audit_trail_migrator.py
Due: smoke-tests-on-commit, check-tasks-json

feat(migration): Complete Task 18 - Markdown Syntax Conversion
  .taskmaster/tasks/tasks.json
Due: check-tasks-json

feat: Complete Task 20 - Work Log and Time Entry Migration
  .taskmaster/tasks/tasks.json
  src/clients/jira_client.py
  src/clients/openproject_client.py
  src/migrations/work_package_migration.py
  src/utils/time_entry_migrator.py
  tests/unit/test_time_entry_migrator.py
Due: smoke-tests-on-commit, check-tasks-json

feat: Complete Task 41 - Comprehensive verification and refactoring of migration components
  .taskmaster/tasks/tasks.json
  src/migrations/company_migration.py
  src/migrations/project_migration.py
  src/migrations/tempo_account_migration.py
  src/migrations/work_package_migration.py
  src/utils/data_handler.py
  tests/unit/test_company_migration_refactored.py
  tests/unit/test_data_handler.py
  tests/unit/test_tempo_account_migration_refactored.py
  tests/unit/test_work_package_migration_refactored.py
Due: smoke-tests-on-commit, check-tasks-json

feat(migrations): Implement EntityTypeRegistry system to replace brittle string matching
  .taskmaster/tasks/tasks.json
  src/migrations/base_migration.py
  src/migrations/company_migration.py
  src/migrations/issue_type_migration.py
  src/migrations/link_type_migration.py
  src/migrations/project_migration.py
  src/migrations/user_migration.py
  src/migrations/work_package_migration.py
  tests/migrations/test_entity_type_registry.py
Due: smoke-tests-on-commit, check-tasks-json

fix: Complete EntityTypeRegistry implementation fixes from code review
  src/migrations/account_migration.py
  src/migrations/base_migration.py
  src/migrations/custom_field_migration.py
  src/migrations/status_migration.py
  tests/migrations/test_migration_class_registrations.py
Due: smoke-tests-on-commit

feat(migrations): Implement API call caching for idempotent operations
  .taskmaster/tasks/tasks.json
  src/migrations/base_migration.py
  tests/unit/test_base_migration_api_cache.py
Due: smoke-tests-on-commit, check-tasks-json

fix(cache): Fix critical issues in API caching implementation
  src/migrations/base_migration.py
Due: none

feat(cache): Add comprehensive test suite for API caching implementation
  tests/unit/test_base_migration_api_cache.py
Due: smoke-tests-on-commit

feat(migration): Implement pagination and batched processing in WorkPackageMigration
  .taskmaster/tasks/tasks.json
  src/migrations/work_package_migration.py
  tests/unit/test_pagination_implementation.py
Due: smoke-tests-on-commit, check-tasks-json

feat(security): Implement Docker security hardening with non-root users and resource limits
  .env.example
  .taskmaster/tasks/tasks.json
  Dockerfile
  compose.yml
  src/clients/docker_client.py
  src/migrations/work_package_migration.py
  tests/integration/test_compose_security.py
  tests/integration/test_docker_client_security.py
  tests/unit/test_pagination_implementation.py
Due: smoke-tests-on-commit, check-tasks-json

fix(security): Address critical Docker security vulnerabilities identified in code review
  .env.example
  .taskmaster/tasks/tasks.json
  compose.yml
  src/clients/docker_client.py
  tests/integration/test_compose_security.py
Due: smoke-tests-on-commit, check-tasks-json

fix(security): Complete command injection vulnerability fixes
  .taskmaster/tasks/tasks.json
  src/clients/docker_client.py
  tests/integration/test_docker_client_security.py
Due: smoke-tests-on-commit, check-tasks-json

feat(security): Implement secure PostgreSQL credential management
  .env.example
  .gitignore
  .taskmaster/tasks/tasks.json
  README.md
  compose.yml
  src/config_loader.py
  src/main.py
  tests/unit/test_config_loader.py
  tests/unit/test_main.py
Due: smoke-tests-on-commit, check-tasks-json

fix(security): Resolve critical security issues in PostgreSQL credential management
  .taskmaster/tasks/tasks.json
  compose.yml
  src/config_loader.py
  src/main.py
  tests/unit/test_main.py
Due: smoke-tests-on-commit, check-tasks-json

SECURITY: Fix critical SQL injection vulnerability in Rails script generation
  .taskmaster/tasks/tasks.json
  docs/SECURITY.md
  pytest.ini
  src/utils/enhanced_timestamp_migrator.py
  src/utils/enhanced_user_association_migrator.py
  tests/security/test_jira_key_validation.py
  tests/security/test_script_generation_security.py
  tests/security/test_security_regression.py
Due: smoke-tests-on-commit, check-tasks-json

refactor: improve code quality after security review
  .taskmaster/tasks/tasks.json
  docs/SECURITY.md
  src/utils/enhanced_timestamp_migrator.py
  src/utils/enhanced_user_association_migrator.py
  src/utils/validators.py
Due: check-tasks-json

Fix timezone detection in EnhancedTimestampMigrator
  .taskmaster/tasks/tasks.json
  scripts/fix_timestamp_timezones.py
  src/utils/enhanced_timestamp_migrator.py
  tests/integration/test_timezone_detection_integration.py
  tests/unit/test_enhanced_timestamp_migrator.py
  tests/unit/test_timestamp_correction_script.py
Due: smoke-tests-on-commit, check-tasks-json

Improve timezone detection implementation based on code review
  scripts/fix_timestamp_timezones.py
  src/utils/enhanced_timestamp_migrator.py
  tests/unit/test_enhanced_timestamp_migrator.py
Due: smoke-tests-on-commit

Path conditions:
  smoke-tests-on-commit: any of: ^tests/.*\.py$
  check-tasks-json: any of: ^\.taskmaster/tasks/tasks\.json$
