Repository netresearch/jira-to-openproject: changes, and which pre-commit hooks are due for each by the changed paths.
All: smoke-tests-on-commit, check-tasks-json

smoke-tests-on-commit:
  name: Smoke Tests (if tests changed)
  entry: python scripts/test_helper.py smoke
  language: system
  pass_filenames: false

check-tasks-json:
  name: Check tasks.json for valid JSON
  entry: python -c "import json; f=open('.taskmaster/tasks/tasks.json'); json.load(f)"
  language: python
  stages:
  - commit

fix(op-client): use raw path in Ruby writer (no shell quoting)\n\n- Prevents writing to a quoted literal path; ensures correct file name in container\n
  src/clients/openproject_client.py
Due: none

feat(op-client): provenance hints + long-script runner threshold
  src/clients/openproject_client.py
Due: none

fix(op-client): enforce runner threshold for bulk_create_records\n\n- Apply same 10-line/200-char policy to bulk create scripts\n- Prevents long pastes into tmux; use rails runner for long bodies\n
  src/clients/openproject_client.py
Due: none

feat(rails-console-client): improve provenance headers (component, func, project)
  src/clients/rails_console_client.py
Due: none

feat(work-packages): add adaptive sub-batch fallback and enforce required attrs
  src/migrations/work_package_migration.py
Due: none

feat(openproject-client): harden bulk create, provenance, and tmux-first execution
  src/clients/openproject_client.py
Due: none

feat(wp-fast-forward): add OP CF helpers, snapshot, and delta JQL for NRS reruns
  src/clients/openproject_client.py
  src/clients/rails_console_client.py
  src/migrations/time_entry_migration.py
  src/migrations/work_package_migration.py
  src/utils/time_entry_migrator.py
Due: none

feat(time-entries): respect J2O_TIME_ENTRY_BATCH_SIZE (default 200)
  src/utils/time_entry_migrator.py
Due: none

feat(scripts): add migration management scripts and Make targets
  Makefile
  scripts/migrate-start-fast-forward.sh
  scripts/migrate-status.sh
  scripts/migrate-stop.sh
Due: none

feat(wp): short-circuit Rails bulk when no new work packages to create; preserve idempotency and metrics
  .cursor/mcp.json
  .cursor/rules/taskmaster/dev_workflow.mdc
  .cursor/rules/taskmaster/taskmaster.mdc
  .gitignore
  .taskmaster/config.json
  .taskmaster/tasks/tasks.json
  src/migrations/time_entry_migration.py
  src/migrations/work_package_migration.py
Due: check-tasks-json

chore(wp): aggregate watcher unmapped warnings into per-issue summaries to reduce log noise
  .taskmaster/tasks/tasks.json
  src/migrations/work_package_migration.py
Due: check-tasks-json

perf(te): add bounded concurrency for per-entry creation; env J2O_TIME_ENTRY_CONCURRENCY; keep batch path
  .taskmaster/tasks/tasks.json
  src/utils/time_entry_migrator.py
Due: check-tasks-json

feat(te): begin hard idempotency by skipping duplicates via external key (jira_worklog_key); scaffolding for snapshot
  src/utils/time_entry_migrator.py
Due: none

feat(te): include stable external key jira_worklog_key in transformed entries for idempotency
  src/utils/time_entry_transformer.py
Due: none

feat(te): load existing external keys from recent OP time entries to enforce idempotency
  src/utils/time_entry_migrator.py
Due: none

chore(migration): add placeholder no-op plan gating to skip backups when nothing to change
  src/migration.py
Due: none

chore(ops): make migrate-stop local-only and safe; gate any remote kills behind J2O_MIGRATE_STOP_REMOTE_OK=1
  scripts/migrate-stop.sh
Due: none

perf(te): increase default batch size to 200; add INFO-level heartbeat logging and higher default concurrency
  src/utils/time_entry_migrator.py
Due: none

fix(migration): use ComponentResult field fallbacks in summary so counts/throughput reflect actual migrated items
  src/migration.py
Due: none

feat(wp): enrich work package meta with Jira fields (type/status/priority/labels/components/created/updated) for reporting without polluting AR payloads
  src/migrations/work_package_migration.py
Due: none

fix(wp): use 'date' field format for 'Jira Migration Date' CF to avoid formatter error
  src/clients/openproject_client.py
  src/migrations/work_package_migration.py
  src/utils/time_entry_transformer.py
Due: none

feat(bulk): add progress markers (dots/N and progress file) and optional console progress for bulk create
  src/clients/openproject_client.py
Due: none

fix(summary): robust component summary counts with fallbacks
  src/migration.py
  tests/unit/test_migration_summary_counts.py
Due: smoke-tests-on-commit

feat(time-entries): enable 'Time and costs' (time_tracking) per project before TE import
  src/clients/openproject_client.py
  src/utils/time_entry_migrator.py
  tests/unit/test_time_entry_module_enable.py
Due: smoke-tests-on-commit

feat(time-entries): add timestamp-based fast-forward for Jira/Tempo logs
  src/utils/time_entry_migrator.py
  tests/unit/test_time_entry_fast_forward.py
Due: smoke-tests-on-commit

fix(op-client): get_time_entries avoids nonexistent association preload and uses unique container JSON path
  src/clients/openproject_client.py
Due: none

feat(openproject): add helper to set J2O Last Update Date by Jira keys\n\n- Rails console script updates CF per WP by Jira Issue Key within project scope
  src/clients/openproject_client.py
Due: none

feat(work-packages): bump J2O Last Update Date on prepare for updated issues\n\n- Collect Jira keys during preparation and stamp Last Update Date CF per project via OP client helper
  src/migrations/work_package_migration.py
Due: none

fix(timestamps): use update_columns to set created_at/updated_at via Rails ops\n\n- Replace wp.save path with update_columns for immutable field stamping
  src/utils/enhanced_timestamp_migrator.py
Due: none

chore(deps): remove unused pytest extras
  AGENTS.md
  pyproject.toml
  src/AGENTS.md
  src/dashboard/AGENTS.md
  tests/AGENTS.md
  tests/zen_test_improvements.md
  uv.lock
Due: none

chore(scope): document and streamline admin-only workflow
  AGENTS.md
  README.md
  config/schemas/settings.py
  pyproject.toml
  src/AGENTS.md
  src/migration.py
  src/utils/advanced_security.py
  src/utils/large_scale_optimizer.py
  tests/AGENTS.md
  tests/integration/test_migration_integration.py
  tests/test_advanced_security.py
  tests/test_large_scale_optimizer.py
  uv.lock
Due: smoke-tests-on-commit

docs: clarify rehearsal workflow and optional tooling
  AGENTS.md
  README.md
  tests/test_advanced_config_manager.py
  tests/unit/test_batch_processor.py
Due: smoke-tests-on-commit

fix(openproject): stabilize project snapshot export
  src/clients/openproject_client.py
Due: none

feat(work-packages): derive start dates from Jira history
  README.md
  docs/decisions/2025-10-04-start-date-from-history.md
  src/AGENTS.md
  src/migrations/work_package_migration.py
  tests/unit/test_work_package_start_date.py
Due: smoke-tests-on-commit

chore(data-qa): demote start-date warning
  scripts/data_qa.py
Due: none

docs(adr): update project/issue metadata plan
  docs/decisions/2025-10-02-project-issue-metadata.md
Due: none

feat(projects): enrich metadata and module heuristics
  README.md
  docs/decisions/2025-10-03-project-issue-validation.md
  src/AGENTS.md
  src/clients/jira_client.py
  src/migration.py
  src/migrations/project_migration.py
  tests/functional/test_project_migration.py
Due: smoke-tests-on-commit

fix(projects): guard project creation and ensure workspace type
  src/migrations/project_migration.py
Due: none

fix(projects): assign default work package types on creation
  src/migrations/project_migration.py
Due: none

fix(priorities): wire run pipeline
  src/migrations/priority_migration.py
Due: none

Path conditions:
  smoke-tests-on-commit: any of: ^tests/.*\.py$
  check-tasks-json: any of: ^\.taskmaster/tasks/tasks\.json$
